<div class="page-content">
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-lg-12 mt-3">
                <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                    <h4 class="mb-sm-0 ">Add New Course</h4>
                </div>
            </div>
        </div>

        <!-- Form Start -->
        <div class="card mt-4 p-4">
            <form>
                <div class="row mb-3 mt-4 p-4">
                    <div class=" row col-6  ">
                        <div class="g-3">

                            <div class="col-lg-3 ">
                                <label for="email-field" class="form-label">Course Name</label>
                            </div>

                            <div class="col-lg-9">
                                <input type="text" id="StudentName" formControlName="StudentName"
                                    class="form-control bg-light border-0 mb-1" placeholder="Enter Couse Name" required
                                    minlength="5" maxlength="25">
                                <span *ngIf="" class="text-danger">Course Name is Required </span>

                            </div>&nbsp;

                            <div class="col-lg-3 ">
                                <label for="phone-field" class="form-label">Price</label>
                            </div>
                            <div class="col-lg-9 ">
                                <input type="text" id="price" class="form-control bg-light border-0 mb-1"
                                    formControlName="price" placeholder="Enter Course Price" required>

                            </div>&nbsp;

                            <div class="col-lg-3 ">
                                <label for="phone-field" class="form-label">Instructor</label>
                            </div>
                            <div class="col-lg-9 ">
                                <input type="text" id="price" class="form-control bg-light border-0 mb-1"
                                    formControlName="price" placeholder="Enter Course Instructor Name" required>

                            </div>&nbsp;

                            <div class="col-lg-3 ">
                                <label for="phone-field" class="form-label">Thumbnail (image)</label>
                            </div>
                            <div class="col-lg-9 ">
                                <input type="file" id="price" class="form-control bg-light border-0 mb-1"
                                    formControlName="price" placeholder="Enter Course Price" required>

                            </div>
                        </div>
                    </div>

                    <div class=" row col-6 ">
                        <div class="">

                            <div class="col-lg-3 ">
                                <label for="address-field" class="form-label">Course Category</label>
                            </div>
                            <div class="">
                                <div class="input-group ">
                                    <select type="url" class="form-control bg-light border-0 mb-3" id="category"
                                        name="category" formControlName="category" placeholder="Enter Course Category "
                                        minlength="4">
                                        <option value="" selected disabled>Select category</option>
                                        <option value="1">category 01</option>
                                        <option value="2">category 02</option>
                                        <option value="3">category 03</option>
                                        <option value="4">category 04</option>
                                        <option value="5">category 05</option>

                                    </select>
                                </div>

                            </div>&nbsp;
                            <div class="col-lg-3 ">
                                <label for="address-field" class="form-label">Course Language</label>
                            </div>
                            <div class="nav-item dropdown">
                                <div class="form-control bg-light border-0 mb-3">
                                   
                                        <a class="nav-link dropdown-toggle" href="" id="navbarDarkDropdownMenuLink"
                                            role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="flag-united-kingdom flag m-0"></i>
                                        </a>

                                        <ul class="dropdown-menu" aria-labelledby="navbarDarkDropdownMenuLink">
                                            <li><a class="dropdown-item"
                                                  >Select Language</a></li>
                                            <li>
                                                <hr class="dropdown-divider" />
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="#"><i
                                                        class="flag-poland flag"></i>English</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="#"><i class="flag-china flag"></i>Hindi</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="#"><i class="flag-japan flag"></i>日本語</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="#"><i
                                                        class="flag-germany flag"></i>Deutsch</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="#"><i
                                                        class="flag-france flag"></i>Français</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="#"><i
                                                        class="flag-spain flag"></i>Español</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="#"><i
                                                        class="flag-russia flag"></i>Русский</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="#"><i
                                                        class="flag-portugal flag"></i>Português</a>
                                            </li>
                                        </ul>

                                  
                                </div>

                            </div>&nbsp;
                            <div class="col-lg-3 ">
                                <label for="address-field" class="form-label">Course Level</label>
                            </div>
                            <div class="">
                                <div class="input-group ">
                                    <select type="url" class="form-control bg-light border-0 mb-3" id="courseLevel"
                                        name="courseLevel" formControlName="courseLevel" placeholder="Enter Course Level">
                                        <option value="" selected disabled>Select Course Level</option>
                                        <option value="1">Beginner</option>
                                        <option value="2">Intermediate</option>
                                        <option value="3">Expert</option>
                                        

                                    </select>
                                </div>

                            </div>&nbsp;
                            <div class="col-lg-3 ">
                                <label for="address-field" class="form-label">Total Lessons</label>
                            </div>
                            <div class="col-lg-9 ">
                                <input type="text" id="totalLessons" class="form-control bg-light border-0 mb-1"
                                    formControlName="totalLessons" placeholder="Enter Total Lessons" required>

                            </div>
                        </div>
                        <br>
                    </div>


                </div>
                <div class="row mb-4">

                    <div class="d-grid gap-4 d-md-flex justify-content-md-end">
                        <button type="submit" class="btn btn-primary"> Save </button>

                        <button type="button" class="btn btn-danger">Cancel</button>


                    </div>
                </div>


            </form>
            

        </div>
    </div>
</div>